.post {
    max-width: 80rem;
    margin: 0 auto;
}
.content {
    padding: 1.5rem;
}
.content h3 {
    color: var(--white);
    font-weight: 900;
    font-size: 2.8rem;
    margin: 0;
}
.date {
    font-size: 1.6rem;
    color: var(--primary);
    font-weight: bold;
}

.text {
    white-space: pre-wrap;
    color: var(--white);
}

.mt-3 {
    margin-top: 3rem;
}
